/_build
/cover
/deps
# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
app-*.tar
/rel
.DS_Store

# Private stuff
private_key.txt
*.dat
